# Core functionality - changes here should be rare!
/src/app.py                   @Marzia-Jahan-Momo
/src/backend/database.py      @Marzia-Jahan-Momo
/src/backend/routers/auth.py  @Marzia-Jahan-Momo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Marzia-Jahan-Momo
